src/main/resources/FormUpload.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://adobe.com/idp/services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://adobe.com/idp/services"
	xmlns:intf="http://adobe.com/idp/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--Generated for Adobe LiveCycle 11.0.0 -->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="invoke">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="0" name="in_string_formid" type="xsd:string" />
						<element maxOccurs="1" minOccurs="0" name="xml_doc" type="impl:XML" />
						<element maxOccurs="1" minOccurs="0" name="xml_token" type="impl:XML" />
					</sequence>
				</complexType>
			</element>
			<complexType name="XML">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="document" type="xsd:string" />
					<element maxOccurs="1" minOccurs="0" name="element" type="xsd:string" />
				</sequence>
			</complexType>
			<element name="invokeResponse">
				<complexType>
					<sequence>
						<element name="out_q" nillable="true" type="impl:XML" />
						<element name="out_xml_result" nillable="true" type="impl:XML" />
					</sequence>
				</complexType>
			</element>
			<complexType name="MyArrayOf_xsd_anyType">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
			<complexType name="FormInstanceBase">
				<sequence>
					<element name="XFAData" nillable="true" type="xsd:base64Binary" />
					<element name="actionList" nillable="true" type="impl:MyArrayOf_xsd_anyType" />
					<element name="hardenedTemplatePath" nillable="true" type="xsd:string" />
					<element name="selectedAction" nillable="true" type="xsd:string" />
					<element name="templatePath" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="FormDataTypeInstance">
				<complexContent>
					<extension base="impl:FormInstanceBase">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
			<complexType name="SetValueMapping">
				<sequence>
					<element name="locationExpr" nillable="true" type="xsd:string" />
					<element name="valueExpr" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="PurgeFilter">
				<sequence />
			</complexType>
			<simpleType name="ConditionEnum">
				<restriction base="xsd:string">
					<enumeration value="EQUALS" />
					<enumeration value="GREATER_THAN" />
					<enumeration value="LESS_THAN" />
					<enumeration value="NOT_EQUALS" />
					<enumeration value="LIKE" />
					<enumeration value="GREATER_THAN_EQUALS" />
					<enumeration value="LESS_THAN_EQUALS" />
					<enumeration value="BEGINS_WITH" />
					<enumeration value="ENDS_WITH" />
					<enumeration value="CONTAINS" />
				</restriction>
			</simpleType>
			<complexType name="ConditionFilter">
				<complexContent>
					<extension base="impl:PurgeFilter">
						<sequence>
							<element name="condition" nillable="true" type="impl:ConditionEnum" />
							<element name="value" nillable="true" type="xsd:string" />
							<element name="variable" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="OrFilter">
				<complexContent>
					<extension base="impl:PurgeFilter">
						<sequence>
							<element name="leftFilter" nillable="true" type="impl:PurgeFilter" />
							<element name="rightFilter" nillable="true" type="impl:PurgeFilter" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="AndFilter">
				<complexContent>
					<extension base="impl:PurgeFilter">
						<sequence>
							<element name="leftFilter" nillable="true" type="impl:PurgeFilter" />
							<element name="rightFilter" nillable="true" type="impl:PurgeFilter" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="invokeRequest">

		<wsdl:part element="impl:invoke" name="parameters" />

	</wsdl:message>

	<wsdl:message name="invokeResponse">

		<wsdl:part element="impl:invokeResponse" name="parameters" />

	</wsdl:message>

	<wsdl:portType name="ModulisticaOnline_FormUpload">

		<wsdl:operation name="invoke">

			<wsdl:input message="impl:invokeRequest" name="invokeRequest" />

			<wsdl:output message="impl:invokeResponse" name="invokeResponse" />

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="FormUploadSoapBinding" type="impl:ModulisticaOnline_FormUpload">

		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="invoke">

			<wsdlsoap:operation soapAction="invoke..11.0.0" />

			<wsdl:input name="invokeRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="invokeResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="ModulisticaOnline_FormUploadService">

		<wsdl:port binding="impl:FormUploadSoapBinding" name="FormUpload">

			<wsdlsoap:address location="http://172.20.1.141:8080/soap/services/ModulisticaOnline/FormUpload" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
